body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;

  background-image: url("./assets/backgrounds/body-background.png");
  background-repeat: repeat-y;
  background-position: top 1450px left 80%;
}